{{ if not (eq (env "BW_SESSION") "") }}
github.com:
    user: chicham
    oauth_token: {{ (bitwardenFields "item" "39a94c34-dcd0-4779-ba08-acc200a366aa").gh_token.value }}
    git_protocol: ssh
{{ end }}
