# chezmoi:template:left-delimiter="# [[" right-delimiter="]] #"
sourceDir = # [[ .chezmoi.sourceDir | quote ]] #

[data]
name = # [[ output "gh" "api" "user" "--jq" ".login" | trim | quote ]] #
# [[ $ghEmail := output "gh" "api" "user" "--jq" ".email" | trim ]] #
# [[ if .chezmoi.stdin -]] #
email = # [[ promptString "email" "Enter your email address" $ghEmail | quote ]] #
# [[ else -]] #
email = # [[ $ghEmail | quote ]] #
# [[ end -]] #
# Set the desired credential helper.
# Examples: "!gh auth git-credential", "osxkeychain", "cache --timeout=3600"
credentialHelper = "!gh auth git-credential"

[merge]
  command = 'nvim'
  args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]

[diff]
  command = "difft"
  args = ["--display=inline", "{{ .Destination }}", "{{ .Target }}"]
