{{- /* Extract user information from $USER (format: firstname.lastname) */ -}}
{{- $user := env "USER" -}}
{{- $nameParts := splitList "." $user -}}

{{- /* Set default values */ -}}
{{- $firstName := "First" -}}
{{- $lastName := "Last" -}}

{{- /* Extract first name and last name if available */ -}}
{{- if ge (len $nameParts) 1 -}}
{{-   $firstName = index $nameParts 0 | title -}}
{{- end -}}
{{- if ge (len $nameParts) 2 -}}
{{-   $lastName = index $nameParts 1 | title -}}
{{- end -}}

{{- /* Create email address using firstname.lastname@artefact.com format */ -}}
{{- $emailName := lower (printf "%s.%s" $firstName $lastName) -}}
{{- $email := printf "%s@artefact.com" $emailName -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  firstName: {{ $firstName | quote }}
  lastName: {{ $lastName | quote }}
  email: {{ $email | quote }}
