[user]
	email = {{ onepasswordRead "op://devtools/github.com/email" }}
	name = "{{ onepasswordRead "op://devtools/Identity/firstname" }} {{ onepasswordRead "op://devtools/Identity/lastname" }}"
	signingkey = "{{ onepasswordRead "op://Personal/Github Signing/public key" }}"

[core]
	excludesFile = {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator}}.gitignore
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "diffview"]
	cmd = nvim -f -c \"DiffviewOpen\" \"$MERGED\"
	trustExitCode = true
[merge]
	tool = diffview
	conflictstyle = zdiff3
[init]
	defaultBranch = main
	templateDir= {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator}}.git_template
[push]
	default = current
	autoSetupRemote = true
[diff]
	colorMoved = default
	algorithm = histogram
	tool = difftastic
	external = difft --display=inline
[difftool]
	prompt = false
[difftool "difftastic"]
        cmd = difft --display=inline "$LOCAL" "$REMOTE"
[pager]
        difftool = true
[remote]
	pushDefault = origin
[fetch]
	prune = true
	fsckObjects = true
[status]
	short = true
[add.interactive]
	useBuiltin = false # required for git 2.37.0
[rebase]
	autosquash = true
	autoStash = true
[alias]
	ll=log --topo-order --abbrev-commit --pretty=format:'%C(bold blue)%h%Creset %Cgreen(%cr)%Creset %s %C(dim white)<%an>%Creset%C(bold yellow)%d%Creset'
	betterlog=!git --no-pager ll --reverse
	graphlog=ll --graph
	difflog = "ll -p --ext-diff"
[commit]
	gpgsign = true
	verbose = true
[gpg]
	format = ssh
[pull]
	ff = only
[rerere]
	enabled = true
[transfer]
	fsckObjects = true
[receive]
	fsckObjects = true
[branch]
	sort = committerdate
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
