{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
{{ if eq .chezmoi.osRelease.id "manjaro" -}}
pamac install --no-confirm --no-upgrade neovim tmux fish fd sd ripgrep git git-delta exa docker docker-compose rsync direnv fzf kitty nodejs-lts-gallium npm bat zoxide\
        yubikey-manager yubikey-personalization yubico-pam pam-u2f gnome-shell-extension-pop-shell xorg-xprop github-cli glab
pamac build --no-confirm google-chrome nerd-fonts-source-code-pro miniconda3 gnome-shell-extension-unite
{{ end -}}
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}

curl -fsSL --insecure https://deb.nodesource.com/setup_lts.x | sudo -E bash -\
  && sudo -E apt-add-repository ppa:fish-shell/release-3 -y\
  && sudo -E apt-get update\
  && sudo -E apt-get install build-essential software-properties-common tmux fish git rsync direnv nodejs sshpass yamllint luarocks

curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash
GIT_DELTA_VERSION=0.13.0
EXA_VERSION=0.10.1
BAT_VERSION=0.21.0
FD_VERSION=8.4.0
RIPGREP_VERSION=13.0.0
NEOVIM_VERSION=0.7.2
MINIO_VERSION=20220916091647.0.0

[[ -x "$(which zoxide)" ]] && echo "zoxide already installed" || ( curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash )
[[ -x "$(which nvim)" ]] && echo "nvim already installed" || ( curl -fsSL --insecure https://github.com/neovim/neovim/releases/download/v${NEOVIM_VERSION}/nvim-linux64.deb -o nvim-linux64.deb\
        && sudo apt --fix-broken install ./nvim-linux64.deb\
        && rm ./nvim-linux64.deb )
[[ -x "$(which fd)" ]] && echo "fd already installed"|| ( curl -fsSL --insecure https://github.com/sharkdp/fd/releases/download/v${FD_VERSION}/fd_${FD_VERSION}_amd64.deb -o fd_${FD_VERSION}_amd64.deb\
        && sudo apt --fix-broken install  ./fd_${FD_VERSION}_amd64.deb\
        && rm ./fd_${FD_VERSION}_amd64.deb )
[[ -x "$(which rg)" ]] && echo "rg already installed" || ( curl -fsSL --insecure https://github.com/BurntSushi/ripgrep/releases/download/${RIPGREP_VERSION}/ripgrep_${RIPGREP_VERSION}_amd64.deb -o ripgrep_${RIPGREP_VERSION}_amd64.deb\
        && sudo apt --fix-broken install ./ripgrep_${RIPGREP_VERSION}_amd64.deb\
        && rm ./ripgrep_${RIPGREP_VERSION}_amd64.deb )
[[ -x "$(which delta)" ]] && echo "delta already installed" || ( curl -fsSL --insecure https://github.com/dandavison/delta/releases/download/${GIT_DELTA_VERSION}/git-delta_${GIT_DELTA_VERSION}_amd64.deb -o git-delta_${GIT_DELTA_VERSION}_amd64.deb\
        && sudo apt --fix-broken install ./git-delta_${GIT_DELTA_VERSION}_amd64.deb\
        && rm ./git-delta_${GIT_DELTA_VERSION}_amd64.deb )
[[ -x "$(which exa)" ]] && echo "exa already installed" || ( curl -fsSL --insecure https://github.com/ogham/exa/releases/download/v${EXA_VERSION}/exa-linux-x86_64-v${EXA_VERSION}.zip -o exa.zip\
        && unzip exa.zip -d exa\
        && mv exa/bin/exa ~/.local/bin\
        && chmod +x ~/.local/bin/exa\
        && rm -rf exa exa.zip )
[[ -x "$(which bat)" ]] && echo "bat already installed" || ( curl -fsSL --insecure https://github.com/sharkdp/bat/releases/download/v${BAT_VERSION}/bat_${BAT_VERSION}_amd64.deb\
        && sudo apt --fix-broken install ./bat_${BAT_VERSION}_amd64.deb\
        && rm ./bat_${BAT_VERSION}_amd64.deb )
        
[[ -x "$(which mcli)" ]] && echo "minio-cli already installed" || ( wget https://dl.min.io/client/mc/release/linux-amd64/mcli_${MINIO_VERSION}_amd64.deb\
        && sudo apt --fix-broken install ./mcli_${MINIO_VERSION}_amd64.deb\
        && rm -f  ./mcli_${MINIO_VERSION}_amd64.deb )
{{ end -}}
{{ end -}}

[[ ! -d ~/.miniconda3 ]] && curl -fsSL --insecure https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -o miniconda.sh\
         && sh ./miniconda.sh -b -u -p ~/.miniconda3\
         && rm -f ./miniconda.sh\
         && ~/.miniconda3/bin/conda init bash fish
