{
    "version": "10",
    "aliases": {
        "{{ onepasswordRead "op://huawei/augmented-reality-bucket/accessKey"  }}": {
            "url": "{{   onepasswordRead "op://huawei/augmented-reality-bucket/url"  }}",
            "accessKey": "{{ onepasswordRead "op://huawei/augmented-reality-bucket/accessKey" }}",
            "secretKey": "{{ onepasswordRead "op://huawei/augmented-reality-bucket/accessKey" }}",
            "api": "s3v4",
            "path": "auto"
        }
    }
}
