{
    "version": "10",
    "aliases": {
        "{{ (bitwardenFields "item" "92f2b449-9a26-4fab-9fb1-af3900da3d47").alias.value }}": {
            "url":  "{{ (bitwardenFields "item" "92f2b449-9a26-4fab-9fb1-af3900da3d47").url.value }}",
            "accessKey": "{{ (bitwardenFields "item" "92f2b449-9a26-4fab-9fb1-af3900da3d47").accessKey.value }}",
            "secretKey": "{{ (bitwardenFields "item" "92f2b449-9a26-4fab-9fb1-af3900da3d47").secretKey.value }}",
            "api": "s3v4",
            "path": "auto"
        }
    }
}
