Host *
  ControlPath ~/.ssh/sockets/%r@%h-%p

Host {{ onepasswordRead "op://huawei/vm-work/Title" }}
  HostName {{ onepasswordRead "op://huawei/vm-work/hostname" }}
  User {{ onepasswordRead "op://huawei/vm-work/username"  }}
  ForwardAgent yes

Host {{ onepasswordRead "op://huawei/gpu-tower2/Title" }}
  HostName {{ onepasswordRead "op://huawei/gpu-tower2/hostname" }}
  User {{ onepasswordRead "op://huawei/gpu-tower2/username"  }}
  ForwardAgent yes
