Host github.com
  IdentityFile ~/.ssh/github.pub
  IdentitiesOnly yes
  ForwardAgent yes

{{ if eq .vaultType "Work" -}}
Host {{ onepasswordRead "op://Work/2oxg3bs6wjvkaeosomineufwmy/Title" }}
  User {{ onepasswordRead "op://Work/2oxg3bs6wjvkaeosomineufwmy/username" }}
  HostName {{ onepasswordRead "op://Work/2oxg3bs6wjvkaeosomineufwmy/url" }}
  IdentityFile ~/.ssh/work.pub
  IdentitiesOnly yes
  ForwardAgent yes
  ServerAliveInterval 60
  ServerAliveCountMax 5
  TCPKeepAlive no

Host {{ onepasswordRead "op://Work/itovnzsbsso5pe4avhqxqbo4by/Title" }}
  User {{ onepasswordRead "op://Work/itovnzsbsso5pe4avhqxqbo4by/username" }}
  HostName {{ onepasswordRead "op://Work/itovnzsbsso5pe4avhqxqbo4by/url" }}
  IdentityFile ~/.ssh/work.pub
  IdentitiesOnly yes
  ForwardAgent yes
  ServerAliveInterval 60
  ServerAliveCountMax 5
  TCPKeepAlive no
{{ end -}}

Host *
  IdentityAgent ~/.1password/agent.sock
  ConnectTimeout 120
