#!/bin/bash

brew bundle --upgrade --force --file=/dev/stdin << EOF
{{- range .packages.darwin.core.brews }}
brew {{ . | quote }}
{{- end }}
{{- range .packages.darwin.core.casks }}
cask {{ . | quote }}
{{- end }}
{{- $modules := .modules }}
{{- range $name, $pkgs := .packages.darwin.modules }}
{{-   if has $name $modules }}
{{-     range $pkgs.brews }}
brew {{ . | quote }}
{{-     end }}
{{-     range $pkgs.casks }}
cask {{ . | quote }}
{{-     end }}
{{-   end }}
{{- end }}
EOF
