# chezmoi:template:left-delimiter="# [[" right-delimiter="]] #"

[data]
name = "# [[ (output "gh" "api" "user" | fromJson).login ]] #"
# [[ if (output "gh" "api" "user" | fromJson).email ]] #
email = "# [[ (output "gh" "api" "user" | fromJson).email ]] #"
# [[ end ]] #

[diff]
command = "difft"
args = ["--display=inline", "--color=always", "{{.Destination}}", "{{.Target}}"]

[merge]
command = "nvim"
args = ["-f", "-c", "Gvdiffsplit! {{.Destination}} {{.Target}}", "{{.Source}}"]
